body {
    background-color: aquamarine;
}

#game-view div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    /* left: 50px; */
    /* top: 200px; */
}

p {
    font-size: 20px;
    color: white;
}

.container {
    display: flex;

}

#super-clock {
    display: flex;
    gap: 20px;
    font-size: 30px;
    justify-self: flex-end;
}